.astratic-pattern-content-photo-left {
  margin-block-start: 0 !important;

  @include down(md) {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }

  @include up(md) {
    padding-left: 0 !important;
  }

  @include up(xl) {
    padding-right: 0 !important;
  }

  .wp-block-columns {
    @include up(md) {
      padding-right: calc((100vw - var(--wp--style--global--content-size)) / 2);
    }

    @include down(md) {
      flex-direction: column-reverse;
    }
  }

  .wp-block-column {
    min-height: 400px;

    @include down(md) {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }

    &:last-of-type {
      @include up(md) {
        max-width: calc(var(--wp--style--global--content-size) / 2);
      }

      .wp-block-group {
        @include down(md) {
          padding-left: 0 !important;
        }
      }
    }

    img {
      min-height: 400px;
    }
  }
}