.wp-block-astratic-accordions {
  &__item {
    &:not(:last-child) {
      margin-bottom: .5rem;
    }

    &-toggler {
      width: 100%;
      padding: 2rem 0;
      color: var(--c-white);
      appearance: none;
      background-color: var(--c-black);
      border: 0;
      outline: 0;
      cursor: pointer;
    }

    &-content {
      max-height: 0;
      transition: max-height .2s ease-out;
      overflow: hidden;
    }
  }
}
